[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ShrinkageTrees"]
	path = ShrinkageTrees
	url = https://github.com/tijn-jacobs/shrinkagetrees
